<div class="row">
  <div class="col-md-6">
    <nb-card size="tiny">
      <nb-card-header class="header-details">
        Channel Info
      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-md-2 info-details"> Name: </div><div class="col-md-10"> {{ channel.name }} </div>
          <div class="col-md-2 info-details"> ID: </div><div class="col-md-10"> {{ channel.id }} </div>
        </div>
      </nb-card-body>
    </nb-card>

    <nb-card size="small">
      <nb-card-header class="header-details">
        Metadata
        <button nbButton size="tiny" class="button-green"
                (click)="onEdit()">
          Edit
        </button>
      </nb-card-header>
      <nb-card-body style="padding: 0px;">
        <textarea class="form-control"
                  [ngModel]="channel.metadata | json"
                  (ngModelChange)="editorMetadata=$event">
        </textarea>
      </nb-card-body>
    </nb-card>

    <nb-card size="small">
      <nb-card-header class="header-details">
        Raw Messages
      </nb-card-header>
      <nb-card-body>
        <div *ngIf="messages.length == 0" style="text-align: center;">
          No messages to display
        </div>
        <pre *ngFor="let message of messages">{{ message | json }}</pre>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-6">
    <nb-card size="small">
      <nb-card-header class="header-details">
        <div class="row">
            <div class="col-md-3">
              Connections
            </div>
            <div class="col-md-7">
              <nb-select multiple placeholder="Select Things" [(selected)]="selectedThings" size="tiny">
                <nb-option *ngFor="let thing of this.things" [value]="thing.id">
                  {{thing.name}}
                </nb-option>
              </nb-select>
            </div>
            <div class="col-md-2">
              <button nbButton size="tiny" class="button-green"
                      (click)="onConnect()">
                Connect
              </button>
            </div>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div *ngIf="connections.length === 0">
          <div style="text-align: center">
            No connections
          </div>
        </div>
        <div *ngIf="connections.length !== 0">
          <div *ngFor="let con of connections;" class="row" style="padding: 2.6px;">
            <div class="col-md-9">
              <nb-icon status="info" icon="arrow-right-outline"></nb-icon>
              {{con.name}}
            </div>
            <div class="col-md-3">
              <button (click)="onDisconnect(con.id)" nbButton size="tiny" class="button-red">
                x
              </button>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>

    <nb-card size="large">
      <nb-card-body>
        <div *ngIf="messages.length < 2" style="text-align: center;">
          No charts to display
        </div>
        <div *ngIf="messages.length >= 2" style="height:100%">
          <ngx-chart [messages]="messages"></ngx-chart>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
